:root {
    --p-violet-50: #f5f3ff;
    --p-violet-100: #ede9fe;
    --p-violet-200: #ddd6fe;
    --p-violet-300: #c4b5fd;
    --p-violet-400: #a78bfa;
    --p-violet-500: #8b5cf6;
    --p-violet-600: #7c3aed;
    --p-violet-700: #6d28d9;
    --p-violet-800: #5b21b6;
    --p-violet-900: #4c1d95;
    --p-violet-950: #2e1065;
}