:root {

    --p-zinc-50: #fafafa;
    --p-zinc-100: #f4f4f5;
    --p-zinc-200: #e4e4e7;
    --p-zinc-300: #d4d4d8;
    --p-zinc-400: #a1a1aa;
    --p-zinc-500: #71717a;
    --p-zinc-600: #52525b;
    --p-zinc-700: #3f3f46;
    --p-zinc-800: #27272a;
    --p-zinc-900: #18181b;
    --p-zinc-950: #09090b;
}